//- include source.pug
link(rel='stylesheet' href=baseurl + '/src/css/main.css')
link(rel='stylesheet' href=baseurl + '/libs/materialize-css/dist/css/materialize.min.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
script(src=baseurl + '/libs/jQuery/dist/jquery.js')
script(src=baseurl + '/libs/materialize-css/dist/js/materialize.js')
script(src=baseurl + '/libs/mathjs/dist/math.js')